<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->
    <meta name="description" content="">
    <meta name="author" content="">

    <meta 
     name= "viewport" 
     content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'/>
     <link rel="shortcut icon" href="http://localhost/sound/logo.png" type="image/x-icon" />
    <title>{{ $title }} | IKISoundSystem</title>

    <link rel="stylesheet" href="{{ url('assets/dist/css/AdminLTECustom.css') }}">
    <link rel="stylesheet" href="{{ url('assets/bower_components/fullcalendar/dist/fullcalendar.min.css') }}">
    <link rel="stylesheet" href="{{ url('assets/bower_components/fullcalendar/dist/fullcalendar.print.min.css') }}" media="print">

    <!-- Bootstrap core CSS -->
    <link href="{{ url('assets/bower_components/bootstrap/dist/css/bootstrap-template.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ url('assets/dist/css/skins/_all-skins.min.css') }}">

    <!-- Custom styles for this template -->
    <link href="{{ url('assets/bower_components/modern-business/modern-business.css') }}" rel="stylesheet">
    @yield('css')
  </head>

  <body>
    @include ('layout.header_home')
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        @yield ('content')
      <!-- /.content -->
    </div>


    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; IKI SOUNDSYSTEM 2018</p>
      </div>
      <!-- /.container -->
    </footer>

    @yield('js')
    <!-- Bootstrap core JavaScript -->
    <script src="{{ url('assets/bower_components/jquery/dist/jquery-template.min.js') }}"></script>
    <script src="{{ url('assets/dist/js/call.js') }}"></script>
    <script src="{{ url('assets/bower_components/fullcalendar/dist/fullcalendar.min.js') }}"></script>

    <script src="{{ url('assets/bower_components/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ url('assets/bower_components/jquery-ui/jquery-ui.min.js') }}"></script>

    
    <!-- Bootstrap 3.3.7 -->
    <script src="{{ url('assets/bower_components/bootstrap/dist/js/bootstrap.min.js' ) }}"></script>
    <!-- jQuery UI 1.11.4 -->
    
    <!-- Slimscroll -->
    <script src="{{ url('assets/bower_components/jquery-slimscroll/jquery.slimscroll.min.js' ) }}"></script>
    <!-- FastClick -->
    <script src="{{ url('assets/bower_components/fastclick/lib/fastclick.js' ) }}"></script>
    <!-- AdminLTE App -->
    <script src="{{ url('assets/dist/js/adminlte.min.js' ) }}"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="{{ url('assets/dist/js/demo.js') }}"></script>
    <!-- fullCalendar -->
    <script src="{{ url('assets/bower_components/moment/moment.js') }}"></script>
    <script src="{{ url('assets/bower_components/fullcalendar/dist/fullcalendar.min.js') }}"></script>
    

  </body>

</html>